* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
  /*--bg-color: rgb(63, 95, 133);*/
  --bg-color: #eae7e0;

}


body {
  background-color: var(--bg-color);
}

.footprint-heading {
    color: #fbc11a;
    padding-left: 20px;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-around;
    flex-basis: 50%;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li a {
    text-decoration: none;
    outline-offset: 0.5rem;
	border-radius: 0.875rem;
    color:#141a23;
    transition: transform 0.1s;
}

.intro {
    position: absolute;
    top: 35%;
}

.main {
    margin-top: 140px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}

.welcome {
    font-size: 5em;
}

.btns {
    background-color: #4d9699;
    color:#141a23;
    border: none;
    padding: 0.5em 1em;
    border-radius: 2px;
    line-height: 300%;
    transition: 0.2s;
}

.intro {
    padding-left: 40px;
}

.login-section{
   
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    /* display: flex;
    justify-content: center; */
}

.add-section{
    max-width: 500px;
}

.add-activities-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.piechart-section img{
    padding-top: 150px;
}

#activity, #categories, .formdiv input{
    color:#141a23;
    padding: 0.5em 1em;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid #4d9699;
}

.formdiv {
    margin-bottom: 10px;
    max-width: 300px;
}

.formdiv input {
    width: 100%;
}

.submitbtn {
    display: flex;
    justify-content: space-between;
}

.loginbtn {
    height: 30.333px;
    background-color: #4d9699;
    color:#141a23;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2px;
}

.sign-header {
    margin-bottom: 30px;
}